@import '../../styles/base';

.UserItemComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  background-color: $color-background-primary-light;
  padding: 10px;
  margin-bottom: 10px;
  color: white;

  &__email {
    margin: auto 0;
    width: 30%;
  }

  &__role {
    margin: auto 0;
    width: 30%;
    font-weight: bold;
  }

  &__close-icon {
    margin-left: 5px;
  }

  .rs-icon.rs-icon-close, .rs-icon.rs-icon-edit {
    font-size: 20px;

    &:hover {
      cursor: pointer;
      color: $color-background-secondary;
    }
  }
}
