.SignupComponent {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 300px;

  &__input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__input {
    max-width: 200px;
  }

  &__label {
    margin-right: 5px;
  }

  &__signUp {
    margin-top: 10px;
  }
}
